<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lostandfound">

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:name=".component.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity">
        </activity>
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.ObjectActivity">
        </activity>
        <activity android:name=".activity.InformationActivity">
        </activity>
        <activity android:name=".activity.ModifyActivity">
        </activity>
        <activity android:name=".activity.SecurityChooseActivity">
        </activity>
        <activity android:name=".activity.SecurityQuestionSetActivity">
        </activity>
        <activity android:name=".activity.PasswordPasswordActivity">
        </activity>
        <activity android:name=".activity.PasswordQuestionActivity">
        </activity>
        <activity android:name=".activity.UserPublishActivity">
        </activity>
        <activity android:name=".activity.UserObjectActivity">
        </activity>
        <activity android:name=".activity.ApplyInfoActivity">
        </activity>
    </application>

</manifest>